<footer id="footer">
    <div class="footer-left">
        Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright }} {{ else }} {{ print .Site.Title }} {{ end }} | <a href="https://themes.gohugo.io/hugo-theme-cactus/">cactus theme</a>
    </div>
  <div class="footer-right">
    <nav>
      <ul>
          <li><a href="https://macowners.club/categories">categories</a> | <a href="https://macowners.club/tags">tags</a> | <a href="#" id="theme-toggle">⏻</a></li>
      </ul>
    </nav>
  </div>
</footer>
